<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Contact Form</title>

    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="top">


    </div>
    <div class="nav">
        <ul>
            <li><a href="/update">Update</a></li>
            <li><a href="/secret">secret</a></li>
            <li><a href="/delete">Delete</a></li>
            <li><a href="/blog">Add Blog</a></li>
            <li><a class="private"  href="/blogs">Blogs</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <h1>Secret page</h1>
    <div class="tble">
        <table border="1">
            <%if (user.length>0){ %>
                <% user.forEach(function(row){ %>
                    <tr>
                        <div>
                            <td>
                                <%= row.fname %>
                            </td>
                            <td>
                                <%= row.lname%>
                            </td>
                            <td>
                                <%= row.username %>
                            </td>
                            <td><button><a style="text-decoration:none" href="/login.html">view</a></button></td>
                            <td><button><a style="text-decoration:none" href="/update.html">update</a></button></td>
                            <td><button><a style="text-decoration:none" href="/delete.html">delete</a></button></td>
                            <td><button><a style="text-decoration:none" href="/register/<%= row.id %>/chat">Chat</a></button></td>
                    </tr>
    </div>

    <% })}else{ %>
        <tr>
            <td colspan="6">No Record Found</td>

        </tr>
        <% } %>
            </form>
            </div>

</body>

</html>